@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    user-select: none;
  }

  .dark {
    color-scheme: dark;
  }

  .scrollbar-x::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar-x::-webkit-scrollbar-track {
    margin-inline: 5px;
  }

  .scrollbar-y::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-y::-webkit-scrollbar-track {
    margin-block: 5px;
  }

  .scrollbar-x::-webkit-scrollbar-thumb,
  .scrollbar-y::-webkit-scrollbar-thumb {
    border-radius: theme("borderRadius.full");
    background-color: theme("colors.neutral.400");
  }

  .scrollbar-x::-webkit-scrollbar-thumb:hover,
  .scrollbar-y::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.neutral.500");
  }
}
