---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Emin Aliyev" active="/blog">
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
  <p>Blog</p>
</Layout>
