---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume | Emin Aliyev" active="/">
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
  <p>Resume</p>
</Layout>
