---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio | Emin Aliyev" active="/portfolio">
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
  <p>Portfolio</p>
</Layout>
