---
import { cn } from "@/lib";
import { LINKS } from "@/shared";
import { Icon } from "astro-icon";
import Button from "./Button.astro";

export interface Props {
  active: string;
}

const { active } = Astro.props;
---

<footer
  class="fixed bottom-0 flex h-16 w-full items-center justify-center bg-neutral-50 dark:bg-neutral-900 lg:hidden"
>
  <nav class="flex-1">
    <ul class="flex flex-1 items-center font-medium">
      {
        LINKS.map((link) => (
          <li class="flex-1">
            <Button
              as="a"
              href={link.href}
              variant="ghost"
              class={cn(
                "h-auto flex-col gap-0 rounded-none px-4 py-2 active:transform-none",
                {
                  "bg-emerald-500 text-neutral-50 hover:bg-emerald-500 dark:bg-yellow-500 dark:text-neutral-900 dark:hover:bg-yellow-500":
                    link.href === active,
                },
              )}
            >
              <Icon name={link.icon} width="24" height="24" />
              <span>{link.name}</span>
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
