---
import Chip from "./Chip.astro";

const VERSION = import.meta.env.VERSION;
---

<footer
  class="flex items-center justify-center gap-2 border-t border-neutral-300 px-4 py-4 dark:border-neutral-700"
>
  <span>Made with ❤️</span>

  <Chip
    radius="lg"
    class="border-neutral-300 bg-neutral-200 text-sm text-neutral-800 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-50"
  >
    {VERSION}
  </Chip>
</footer>
