---
import Icon from "./Icon.astro";
import { LINKS } from "../shared";

export interface Props {
  active: string;
}

const { active } = Astro.props;
---

<header
  class="fixed left-0 top-0 flex h-16 w-full items-center justify-between bg-neutral-50/50 px-2 backdrop-blur dark:bg-neutral-900/50 lg:h-20 lg:pl-80 lg:pr-8"
>
  <button
    type="button"
    class="flex items-center rounded-lg p-3 hover:bg-neutral-200 dark:hover:bg-neutral-800 lg:hidden"
    data-sidebar-toggle
  >
    <span class="sr-only">Open sidebar</span>

    <svg
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-menu-2"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 6l16 0"></path>
      <path d="M4 12l16 0"></path>
      <path d="M4 18l16 0"></path>
    </svg>
  </button>

  <nav>
    <ul class="hidden items-center gap-4 font-medium lg:flex">
      {
        LINKS.map((link) => (
          <li>
            <a
              aria-current={link.href === active ? "page" : undefined}
              href={link.href}
              class="flex items-center gap-2 rounded-lg px-4 py-3 transition active:scale-95"
              class:list={{
                "hover:bg-neutral-200 dark:hover:bg-neutral-800":
                  link.href !== active,
                "bg-emerald-500 text-neutral-50 hover:bg-emerald-500 dark:bg-yellow-500 dark:text-neutral-900":
                  link.href === active,
              }}
            >
              <Icon
                name={link.icon}
                width="24"
                height="24"
                aria-hidden="true"
              />
              <span>{link.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <button
    class="h-12 w-12 rounded-lg text-xl hover:bg-neutral-200 dark:hover:bg-neutral-800"
    data-theme-toggle></button>
</header>
