---
import type { ISkill } from "@/interfaces";
import { Contentful } from "@/lib";
import { Icon } from "astro-icon";
import Chip from "./Chip.astro";

const skills = (
  await Contentful.getEntries<ISkill>({
    content_type: "skill",
    order: ["sys.createdAt"],
  })
).items.map(({ fields }) => fields);
---

<section>
  <Chip variant="outline" radius="lg" title class="mb-4">Skills</Chip>

  <div class="flex flex-wrap gap-4">
    {
      skills
        .filter((skill) => skill.type === "technical")
        .map((skill) => (
          <Chip
            clickable
            class="h-auto gap-2 rounded-3xl bg-neutral-100 py-2 transition dark:bg-neutral-800"
          >
            <Icon name={skill.icon} width="32" height="32" />
            <span class="text-neutral-900 dark:text-neutral-50">
              {skill.name}
            </span>
          </Chip>
        ))
    }
  </div>
</section>
