---
import { HeaderSidebar, Footer } from "../components";
import "../styles/base.css";

export interface Props {
  title: string;
  active: string;
}

const { title, active } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 text-neutral-600">
    <HeaderSidebar active={active} client:media="(max-width: 1024px)" />

    <main class="mb-[72px] mt-16 px-4 lg:mb-0 lg:ml-80 lg:mt-20">
      <slot />
    </main>

    <Footer active={active} />
  </body>
</html>
