---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import "@/styles/globals.css";
import "@fontsource-variable/open-sans";
import { SEO, Props as SEOProps } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  active: string;
  seo?: SEOProps;
}

const { active, seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO titleTemplate="%s | Emin Aliyev" {...seo} />
    <ViewTransitions />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <script is:inline>
      if (!window.initialized) {
        window.initialized = true;

        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme") &&
            ["light", "dark"].includes(localStorage.getItem("theme"))
          ) {
            return localStorage.getItem("theme");
          }

          if (matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }

          return "light";
        })();

        localStorage.setItem("theme", theme);

        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        }
      }
    </script>
  </head>
  <body
    class="scrollbar-x scrollbar-y min-h-screen bg-neutral-50 text-neutral-600 selection:bg-emerald-500 selection:text-neutral-50 dark:bg-neutral-900 dark:text-neutral-300 dark:selection:bg-yellow-500 dark:selection:text-neutral-900"
  >
    <Header active={active} />

    <Sidebar />

    <main class="px-4 pb-20 pt-20 lg:pb-10 lg:pl-80 lg:pr-8 lg:pt-24">
      <slot />
    </main>

    <Footer active={active} />

    <div
      class="fixed inset-0 z-30 hidden bg-neutral-900/50 backdrop-blur"
      data-sidebar-toggle
      data-sidebar-backdrop
    >
    </div>

    <script is:inline>
      document.querySelectorAll("[data-sidebar-toggle]").forEach((element) => {
        element.addEventListener("click", () => {
          document.querySelector("aside")?.classList.toggle("transform-none");
          document
            .querySelector("[data-sidebar-backdrop]")
            ?.classList.toggle("hidden");
          document.body.classList.toggle("overflow-hidden");
        });
      });

      document
        .querySelector("[data-theme-toggle]")
        ?.addEventListener("click", () => {
          const theme = localStorage.getItem("theme") || "light";

          if (theme === "light") {
            localStorage.setItem("theme", "dark");
            document.documentElement.classList.add("dark");
          } else {
            localStorage.setItem("theme", "light");
            document.documentElement.classList.remove("dark");
          }
        });
    </script>

    <script is:inline>
      if (Fancybox) {
        Fancybox.bind("[data-fancybox]");
      }
    </script>
  </body>
</html>
