---
import "../styles/base.css";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import { SEO, Props as SEOProps } from "astro-seo";

export interface Props {
  active: string;
  seo: SEOProps;
}

const { active, seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO titleTemplate="%s | Emin Aliyev" {...seo} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }

        if (matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }

        return "light";
      })();

      localStorage.setItem("theme", theme);

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body
    class="scrollbar-x scrollbar-y min-h-screen bg-neutral-50 text-neutral-600 selection:bg-emerald-500 selection:text-neutral-50 dark:bg-neutral-900 dark:text-neutral-300 dark:selection:bg-yellow-500 dark:selection:text-neutral-900"
  >
    <Header active={active} />

    <Sidebar />

    <main class="px-4 pb-20 pt-20 lg:pb-10 lg:pl-80 lg:pr-8 lg:pt-24">
      <slot />
    </main>

    <Footer active={active} />

    <div
      class="fixed inset-0 z-30 hidden bg-neutral-900/50 backdrop-blur"
      data-sidebar-toggle
      data-sidebar-backdrop
    >
    </div>
    <script>
      const sidebarToggleEvent = new Event("sidebarToggle");
      const themeToggleEvent = new Event("themeToggle");
      const themeToggle = document.querySelector("[data-theme-toggle]");
      const theme = localStorage.getItem("theme") || "light";

      if (theme === "light") {
        themeToggle.innerText = "🌙";
      } else if (theme === "dark") {
        themeToggle.innerText = "☀️";
      } else {
        themeToggle.innerText = "🌙";
      }

      document.querySelectorAll("[data-sidebar-toggle]").forEach((element) => {
        element.addEventListener("click", () =>
          dispatchEvent(sidebarToggleEvent)
        );
      });

      themeToggle.addEventListener("click", () =>
        dispatchEvent(themeToggleEvent)
      );

      addEventListener("sidebarToggle", () => {
        document.querySelector("aside").classList.toggle("transform-none");
        document
          .querySelector("[data-sidebar-backdrop]")
          .classList.toggle("hidden");
        document.body.classList.toggle("overflow-hidden");
      });

      addEventListener("themeToggle", () => {
        const theme = localStorage.getItem("theme") || "light";

        if (theme === "light") {
          localStorage.setItem("theme", "dark");
          document.documentElement.classList.add("dark");
          themeToggle.innerText = "☀️";
        } else if (theme === "dark") {
          localStorage.setItem("theme", "light");
          document.documentElement.classList.remove("dark");
          themeToggle.innerText = "🌙";
        } else {
          localStorage.setItem("theme", "light");
          document.documentElement.classList.remove("dark");
          themeToggle.innerText = "🌙";
        }
      });
    </script>
  </body>
</html>
